<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Navbar</title>
</head>

<body>
    <nav th:fragment="navbar" class="navbar fixed-top navbar-expand-lg" style="background-color: rgb(255, 241, 229); border-bottom: 2px solid rgb(242, 223, 206);">
        <div class="container-fluid">
    
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <a class="nav-link" th:href="@{index}">Home</a>
                </ul>
                
                <ul class="navbar-nav mb-2 mb-lg-0"></ul>
    
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <div sec:authorize="hasRole('ROLE_USER')">
                        <a th:href="@{exp}" class="nav-link active" aria-current="page">Experiment</a>
                    </div>
    
                    <div sec:authorize="hasRole('ROLE_MANAGER')">
                        <a th:href="@{restricted}" class="nav-link active" aria-current="page">Restricted</a>
                    </div>
    
                    <div sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <form id="logOut" th:action="@{/logout}" method="post">
                                <a class="nav-link" onclick="document.getElementById('logOut').submit();">
                                    LOG OUT 
                                </a>
                            </form>
                        </li>
                    </div>
                    
                    <div sec:authorize="isAnonymous()">
                        <a href="login.html" class="nav-link active" aria-current="page">Login</a>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>